<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"},"metadata":{"name":"Search wrapper"}} -->

  <main class="wp-block-group">
    <!-- wp:heading -->
    <h2 class="wp-block-heading">This page is unavailable</h2>
    <!-- /wp:heading -->

    <!-- wp:search {"label":"Are you looking for something?","buttonText":"Search"} /-->
  </main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
